* {
  box-sizing: border-box;
}
body {
    display: flex;
  background-color: #fafafa;
}
.site-header {
    z-index: 4;
    position: fixed;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #DBDBDB;
  top: 0px;
  left: 0px;
  height: 54px;
  width: 100%;
}
.auxiliary-container-header{
    display: flex;
    justify-content: space-between;
    width: 936px;
    margin-left: 216px;
    margin-right: 216px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-instagram {
    height: 20px;
  margin-right: 23px;
}
.logo img{
    height: 20px;
    margin-top: 7px;
}
input {
    text-align: center;
    height: 28px;
    margin-top: 13px;
    margin-bottom: 13px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
}
.icons {
    margin-top: 13px;
}
.instagram {
}
.stories {
  background-color: #ffffff;
  margin-top: 90px;
  margin-left: 215px;
  height: 118px;
  width: 614px;
  border-radius: 3px;
  display: flex;
  margin-right: 24px;
  border: 1px solid #DBDBDB;
}
.storie-foward {
  color: white;
  font-size: 32px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  position: absolute;
  z-index: 3;
  margin-left: 576px;
  margin-top: 46px;
}
.stories-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 23px;
  margin-left: 18px;
  height: 85px;
  width: 800px;
  overflow: hidden;
}
.stories-inner-container {
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 85px;
  min-width: 66px;
  margin-right: 14px;
}
.storie-img {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  border-radius: 28px;
}
.storie-background {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  max-height: 66px;
  max-width: 66px;
  border-radius: 33px;
}
.stories-inner-container span {
  z-index: 3;
  position: absolute;
  margin-top: 66px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: roboto;
  font-weight: 400;
  font-style: normal;
}
aside {
    position: absolute;
    top: 111px;
    left: 858px;
    height: 443px;
    width: 300px;
}
.profile-owner{
    display: flex;
    align-items: center;
    height: 56px;
    margin-bottom: 24px;
}
.profile-owner img{
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 28px;   
}
.profile-owner-data{
    position: absolute;
    display: block;
    left: 74px;
    height: 34px;
    width: 226px;
}
.profile-owner span:nth-child(1){
    display:block;
    font-size: 14px;
    font-family: roboto;
    font-weight: 500;
    font-style: normal;
}
.profile-owner span:nth-child(2){
    display:block;
    font-size: 14px;
    font-family: roboto;
    font-weight: 300;
    font-style: normal;
}
.suggestions{
    height: 241px;
    width: 100%;
    margin-bottom: 33px;
}
.suggestions-header{
    margin-bottom: 17px;
    width: 100%;
}
.suggestions-header span:nth-child(1){
    font-size: 12px;
    font-family: roboto;
    font-weight: 500;
    font-style: normal;
    color: #8e8e8e;
    margin-right: 120px;
}
.suggestions-header span:nth-child(2){
    font-size: 12px;
    font-family: roboto;
    font-weight: 500;
    font-style: normal;
    color: #262626;
}
.suggestion{
    display: flex;
    align-items: center;
    height: 32px;
    margin-bottom: 16px;
}
.suggestion img{
    position: absolute;
    border-radius: 16px; 
}
.suggestion-data{
    position: absolute;
    display: block;
    left: 43px;
    height: 32px;
    width: 143px;
}
.suggestion-data span:nth-child(1){
    display:block;
    font-size: 14px;
    font-family: roboto;
    font-weight: 500;
    font-style: normal;
}
.suggestion-data span:nth-child(2){
    position: absolute;
    bottom: 0px;
    display:block;
    font-size: 12px;
    font-family: roboto;
    font-weight: 300;
    font-style: normal;
    color: #8E8E8E;
}
.suggestion-data span:nth-child(3){
    position: absolute;
    left: 224px;
    bottom: 10px;
    font-size: 12px;
    font-family: roboto;
    font-weight: 500;
    font-style: normal;
}
.page-data{
    width: 100%;
    height: 42px;
    font-size: 11px;
    font-family: roboto;
    font-weight: normal;
    font-style: normal;
    color: #C7C7C7;
    margin-bottom: 18px;
}
.page-copyright{
    width: 100%;
    height: 14px;
    font-size: 11px;
    font-family: roboto;
    font-weight: normal;
    font-style: normal;
    color: #C7C7C7;
}
.container {
    position: absolute;
  top: 230px;
  left: 215px;
  width: 614px;
  height: 100%;
  background-color: red;
}
.post {
  height: 749px;
  margin-bottom: 60px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #DBDBDB;
}
.post-owner {
  display: flex;
  align-items: center;
}
.post-owner-avatar {
  margin-top: 15px;
  margin-left: 17px;
  margin-bottom: 13px;
  margin-right: 15px;
  border-radius: 15px;
}
.post-owner span {
  font-size: 14px;
  font-family: roboto;
  font-weight: 500;
  font-style: normal;
}
.post-owner .post-options {
  margin-left: 470px;
}
.post-interaction {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.post-like img {
  margin-left: 15px;
  margin-right: 5px;
  border-radius: 10px;
}
.post-like {
  display: flex;
  align-items: center;
}
.post-like span:nth-child(1) {
  font-size: 14px;
  font-family: roboto;
  font-weight: 500;
  font-style: normal;
}
.post-like span:nth-child(2) {
  font-size: 14px;
  font-family: roboto;
  font-weight: 400;
  font-style: normal;
}
.post-like span:nth-child(3) {
  font-size: 14px;
  font-family: roboto;
  font-weight: 500;
  font-style: normal;
}
.post-like span:nth-child(4) {
  font-size: 14px;
  font-family: roboto;
  font-weight: 400;
  font-style: normal;
}
